APP_URL="MY_APP_URL"

# Backend connections
MONGO_URI="mongodb+srv://username:password@cluster.mongodb.net/auctionxi"
PORT="4000"


# Frontend network targets
VITE_API_URL="http://localhost:4000"
VITE_SOCKET_URL="http://localhost:4000"
